# Ignore data and results (uncomment if you don’t want them in repo)
# data/
# results/

# Allow configs and extras
!config/**
!extras/**

# Ignore all scripts by default
scripts/*

# Allow specific scripts
!scripts/funct
!scripts/s01_07_prep.py
!scripts/s08_fuse.py
!scripts/s09_cluster.py
!scripts/s10_clinical.py

# Ignore all results by default
results/*

# Common junk
*.log
*.tmp
*.bak
*.swp
.DS_Store
